
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}


h1, h2, h3,
h4, h5, h6 {
  font-size: 34px;
  line-height: 1.15em;
}

p {
	font-size: 18px;
}


input[type="text"],
  input[type="email"] {
    font-size: 16px;
    padding: 20px 15px;
    border-radius: 10px;
    background: #ECF0F1;
  }


/* effect */

.transition {
  -ms-animation-duration: .3s;
  -moz-animation-duration: .3s;
  -webkit-animation-duration: .3s;
}


.informative-p {
   -webkit-animation-delay: .3s;
   -moz-animation-delay: .3s;
   -ms-animation-delay: .3s;
}

.benefits-article.a {
   -webkit-animation-delay: .1s;
   -moz-animation-delay: .1s;
   -ms-animation-delay: .1s;
}


.benefits-article.b {
   -webkit-animation-delay: .5s;
   -moz-animation-delay: .5s;
   -ms-animation-delay: .5s;
}


.benefits-article.c {
   -webkit-animation-delay: .8s;
   -moz-animation-delay: .8s;
   -ms-animation-delay: .8s;
}

.benefits-article.d {
   -webkit-animation-delay: 1.2s;
   -moz-animation-delay: 1.2s;
   -ms-animation-delay: 1.2s;
}


.product-article.b {
   -webkit-animation-delay: .4s;
   -moz-animation-delay: .4s;
   -ms-animation-delay: .4s;
}

.product-article.c {
   -webkit-animation-delay: .8s;
   -moz-animation-delay: .8s;
   -ms-animation-delay: .8s;
}

.product-article.d {
   -webkit-animation-delay: 1.2s;
   -moz-animation-delay: 1.2s;
   -ms-animation-delay: 1.2s;
}



/* main styles*/
.slick-prev {
  margin-left: 40px;
  z-index: 300;
}

.slick-next {
  margin-right: 40px;
}

 .banner-item {
  padding-top: 10px;
  margin-top: 20px;
}

.main-container {
  margin: auto;
  max-width: 800px;
  position: relative;
}

.header {
  height: 30px;
  background: #0C2950;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.burguer-button {
  color: white;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  display: none;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  color: white;
  z-index: 3;
}


.menu {
  position: absolute;
  display: inline-block;
  right: 0;
  margin: 6px 25px 2px 0;
}

.menu i {
  color: #BD382A;
}

.menu li {
  display: inline-block;
  margin-left: 25px;
  color: white;
}

.u-item, .u-item:hover, .u-item:visited, .u-item:active , .u-item:link {
  color: white;    /*#BD382A;*/
  text-decoration: none;
}


.informative {
  color: white;
  background-color: #0B223F;
  background-image: url('../img/background-info.jpg');
  background-size: cover;
  text-align: center;
  padding: 50px 18px;
  
}

.informative h2 {
  margin-bottom: 40px;
}

.informative-main-p {
  padding: 0 90px;
}

.informative-container {
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.informative-article {
  background: #6B7B92;
  max-width: 560px;
}

.informative-article:last-child {
  margin-left: 30px;
}

.informative-article p {
  text-align: justify;
  padding: 20px;
  margin: 10px auto;
}

.benefits {
  background: #ECF0F1;
  color: #6D6D6D;
  text-align: center;
  padding: 100px 18px;
}


.benefits h2 {
  display: inline-block;
}

.benefits-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 70px;
}

.benefits-article {
  width: 280px;
}

.benefits-article p {
  margin-top: 20px;
  text-align: justify;
}

.product {
  background: url("../img/telephon.jpg");
  background-size: cover;
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 120px 18px;
}

.product-article-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-article {
  width: 260px;
  height: 300px;
  
  background: rgba(221, 221, 221, .4);
  padding: 20px 0;
}

.product-article p {
  text-align: justify;
  padding: 10px;
  margin: 0 auto;
}

.adventage {
  background: url("../img/tec.jpg");
  background-size: cover;
  color: #6D6D6D;
  font-size: 20px;
  position: relative;
  height: 500px;
}


.adventage-container {
  position: absolute;
  top: 40px;
  right: 200px;
  width: 400px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  padding: 0 60px;  
}


.adventage-container p {
  margin-top: 30px;
}

.map img {
  width: 100%;
}

.allies {
  background: #ECF0F1;
  text-align: center;
  padding: 30px 18px;
}

.allies h2 {
  color: #6D6D6D;
  margin-bottom: 0;
}

.allies-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact {
  background: #09264c;
  background-image: url('../img/background-contact.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 18px;
}

.contact h2 {
  margin-bottom: 40px;
}

.container-contact-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact input {
  color: black;
  font-weight: bold;
}

.container-form , .container-contact {
  width: 380px;
}


.contact button {
  background: #1D63A8;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form button {
  margin-top: 20px;
}


.footer {
  background:  #08131E;
  color: white;
  padding: 40px 18px;
  font-size: 20px;
}

.footer li {
  list-style: none;
}


.link-circle {
  display: inline-block;
  background-color: #C0392B;
  border-radius:50%;
  width:40px;
  height:40px;
  text-align:center;
}

.footer .fa {
   line-height:40px;
   
}

.main-container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  
}


.social-network {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}


.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.footer-item ul {
  margin-left: 10px;
  padding: 0;
}



/*screen 860px */

@media screen and (max-width: 860px) {
  .informative-article {
    max-height: 500px;
  }

  .informative-main-p {
    padding: 0;
    
  }

  .informative-article p {
    text-align: justify;
    padding: 10px;
  }


  .product {
    padding: 80px;
  }


  .product-article {
    margin-bottom: 20px;
  }

  .container-contact-main {
    flex-direction: column;
  }

  .container-contact {
    margin-top: 20px;
  }

  .adventage-container {
    color: white;
    right: 400px;
  }

  .main-container-footer {
    align-items: flex-start;
  }

  .container-footer {
    width: auto;
  }

  .container-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  

  .social-network {
    margin-top: 20px;
    justify-content: space-between;
  }

}

/*screen 650px */

@media screen and (max-width: 650px) {

   .header {
     height: auto;
     left: -100%;
     transition: .3s;
   }

   .header.active {
     left: 0;
   }


   .menu {
     margin-top: 30px;
     position: static;
     text-align: center;
     display: block;
     font-size: 20px;
     padding: 0;
   }


   .menu i {
     font-size: 18px;
     color: white;
   }

   .menu li {
     display: block;
     margin-left: 0;
     padding: 10px;
   }

   .burguer-button {
     display: block;
   } 

  .banner-item {
    padding-top: 0;
    margin-top: 0;
  }

  .benefits-container {
    flex-direction: column;
    align-items: center;
  }

  .benefits-article {
    margin-bottom: 40px;
    width: auto;
  }

  .benefits-article p {
    text-align: center;
  }


  .informative-container {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .informative-article {
    margin-top: 30px;

  }

 .informative-article:last-child {
    margin-left: 0;
 }

 .informative-article p {
    padding: 20px;
  }

  .adventage {
    overflow: hidden;
  }

  .adventage-container {
    position: static;
    margin: 0 auto;
  }

  .main-container-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-right: 200px;
    margin-bottom: 30px;
  }

 
}


/* screen 500px*/

@media screen and (max-width: 500px) {

  p {
    font-size: 16px;
  }

 
}


/* screen 400px*/
@media screen and (max-width: 400px) {

  h2 {
    font-size: 30px;
  }

  .informative-main-p {
    text-align: justify;  
  }

  .container-form, .container-contact {
    width: 100%;
  }


  .adventage {
    height: auto;
    background: #0B223F;
  }

  .adventage-container {
    width: 100%;
    padding: 20px 10px;

  }

  .product-article-container {
    flex-direction: column;
    align-items: center;
  }

  .allies-container {
    flex-direction: column;
    align-items: center;

  }

  .allies-item {
    width: 50%;
  }



  .main-container-footer {
    align-items: flex-start;
    padding-left: 40px;
  }

  .social-network {
    justify-content: flex-start;
  }

   .social-network .link-circle.a {
    margin-left: 0;
  }


  .social-network .link-circle {
    margin-left: 20px;
  }

  .social-network ul {
    display: none;
  }
 
}











