
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}


h1, h2, h3,
h4, h5, h6 {
  font-size: 34px;
  line-height: 1.15em;
  text-rendering: geometricPrecision;
}

p {
	font-size: 18px;
}


/*.u-secundarycolor {
	background: #C0392B;
}

.u-iconcolor {
	color: #BD382A;
}

.u-btncolor {
	background: #1D63A8;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.u-moveicon {
	margin-top: 10px;
}

.util-img {
	width: 100%;
}*/





