
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}


h1, h2, h3,
h4, h5, h6 {
  font-size: 34px;
  line-height: 1.15em;
}

p {
	font-size: 18px;
}

.main-container {
  margin: auto;
  max-width: 800px;
  position: relative;
}

.header {
  height: 30px;
  background: #0C2950;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.burguer-button {
  color: white;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  display: none;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  color: white;
  z-index: 3;
}


.menu {
  position: absolute;
  display: inline-block;
  right: 0;
  margin: 6px 25px 2px 0;
}

.menu i {
  color: #BD382A;
}

.menu li {
  display: inline-block;
  margin-left: 25px;
  color: white;
}

.u-item, .u-item:hover, .u-item:visited, .u-item:active , .u-item:link {
  color: white;    /*#BD382A;*/
  text-decoration: none;
}

.presenter-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 200px 0 50px;

}

.container-device {
  display: flex;
  margin: 60px 80px 0 0;
}

.container-portatil-device {
  margin: 50px 0 50px 20px;
  width: auto;
  position: relative;
}

.device.b {
  position: absolute;
  top: 80px;
  left: 50px;
}

.device.c {
  position: absolute;
  top: 140px;
  left: 150px;
}

.presenter h2 {
  color: white;
  background: #0C2950;
  padding: 5px 0 5px 40px; 
  margin-top: 0;
}

.presenter h2:last-child {
  background:  #BD382A;
  margin-bottom: 30px;
}

.informative {
  color: white;
  background: #0B223F;
  text-align: center;
  padding: 100px 18px;
}

.informative h2 {
  margin-bottom: 40px;
}

.informative-main-p {
  padding: 0 90px;
}

.informative-container {
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.informative-article {
  background: #6B7B92;
  width: 540px;
}

.informative-article:last-child {
  margin-left: 30px;
}

.informative-article p {
  padding-right: 8px;
  margin: 20px auto;
}

.benefits {
  background: #ECF0F1;
  color: #919094;
  text-align: center;
  padding: 100px 18px;
}


.benefits h2 {
  display: inline-block;
}

.benefits-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.benefits-article {
  width: 320px;
}

.benefits-article p {
  margin-top: 20px;
}

.product {
  background: url("../img/telephon.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  padding: 120px 18px;
}

.product-article-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.product-article {
  width: 250px;
  background: rgba(176, 173, 175, .4);
  padding: 20px 10px;
}

.advantage {
  background: url("../img/tec.jpg");
  background-size: cover;
  text-align: center;
  color: grey;
  height: 450px;
}

.advantage-container {
  width: 320px;
  padding: 20px;
  line-height: 35px;
  margin-top: 25px;
}

.advantage-container p {
  margin-top: 20px;
}

.map img {
  width: 100%;
}

.allies {
  background: #ECF0F1;
  text-align: center;
  padding: 60px 18px;
}

.allies h2 {
  color: grey;
  margin: 0;
}

.allies-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact {
  background: #133D76;
  color: white;
  text-align: center;
  padding: 30px 18px;
}

.contact h2 {
  margin-bottom: 40px;
}

.container-contact-main {
  display: flex;
  justify-content: space-between;
}

.contact input {
  color: black;
  font-weight: bold;
}

.container-form , .container-contact {
  width: 350px;
}

.container-contact {
  padding-top: 80px;
}

.contact button {
  background: #1D63A8;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.footer {
  background:  #0C2950;
  color: white;
 
  padding: 50px 18px;
  overflow: hidden;
}


.link-circle {
  display: inline-block;
  background-color: rgb(219, 82, 82);
  border-radius:50%;
  width:30px;
  height:30px;
  text-align:center;
}

.footer .fa {
   line-height:30px;
   font-size: 12px;
}

.main-container-footer {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}


.footer-logo {
  position: absolute;
  top: 20px;
  left:  0;
}

.container-footer-link {
  display: inline-block;
  margin-left: 230px;
}

.container-footer {
  display: flex;
  align-items: flex-start;
  padding:20px 30px 0 0;
}


.phone, .email {
  position: relative;
}

.phone p {
  width: 200px;
  margin-left: 40px;
  display: inline-block;
}

.email p {
  width: 250px;
  margin-left: 40px;
  display: inline-block;
}

.align-paragraph-footer {
  position: absolute;
  top: 10px;
}

.social-network-link .link-circle {
  margin-right: 20px;
  margin-top: 15px;
}



@media screen and (max-width: 860px) {
  .informative-article {
    height: auto;
  }

  .informative-main-p {
    padding: 0;
    
  }

  .informative-article p {
    text-align: center;
    padding: 0 4px;
  }

  .benefits-container {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .benefits-article {
    width: auto;
    margin-bottom: 50px; 
  }

  .product {
    padding: 80px;
  }

  .product-article-container {
    flex-wrap: wrap;
  }

  .product-article {
    margin-bottom: 20px;
  }

  .container-footer {
    display: block;
  }

  .main-container-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /*width: auto*/
    /*position: static;*/

  }

  .footer-logo {
    position: static;
    margin-top: 40px;
  }

  .container-footer-link {
    margin: 0;
  }

  .social-network-link .link-circle {
    margin-top: 10px;
  }

  .presenter-container {
    flex-direction: column-reverse;
  }

  .logo {
    margin-left: 120px;
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 768px) {
  .adventage {
    position: relative;
  }

  .advantage-container {
    position: absolute;
    left: 0;
    margin-left: 40px;
    color: white;
    font-weight: bold;
  }
  
}

@media screen and (max-width: 650px) {
   
   .header {
     height: auto;
     left: -100%;
     transition: .3s;
   }

   .header.active {
    left: 0;
   }

   .menu {
     margin-top: 30px;
     position: static;
     text-align: center;
     display: block;
     font-size: 20px;
     padding: 0;
   }


   .menu i {
     font-size: 18px;
     color: white;
   }

   .menu li {
     display: block;
     margin-left: 0;
     padding: 10px;
   }

   .burguer-button {
     display: block;
   } 

  .informative-container, .container-contact-main {
    flex-direction: column;
    align-items: center;
  }

  .informative-article {
    margin-top: 20px;
    width: auto;
  }

  .informative-article:last-child {
    margin-left: 0;
  }

  h2, h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 560px) {
  .logo {
    margin: 20px 0 20px 120px;
  }

  .logo img {
    width: 280px;
  }

  .quiosco-img {
    display: none;
  }

  .container-portatil-device {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  
  .main-container-footer {
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
  }

  .footer-logo {
    margin: 30px 140px 20px 0;
  }

  h2, h3 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
 
}

/* effect */

.transition {
  -ms-animation-duration: .3s;
  -moz-animation-duration: .3s;
  -webkit-animation-duration: .3s;
}


.device.movil {
   -webkit-animation-delay: .7s;
   -moz-animation-delay: .7s;
   -ms-animation-delay: .7s;
}


.device.b {
   -webkit-animation-delay: 1.3s;
   -moz-animation-delay: 1.3s;
   -ms-animation-delay: 1.3s;
}

.device.c {
   -webkit-animation-delay: 2s;
   -moz-animation-delay: 2s;
   -ms-animation-delay: 2s;
}

.logo {
   -webkit-animation-delay: 2.7s;
   -moz-animation-delay: 2.7s;
   -ms-animation-delay: 2.7s;
}

.presenter-title-a  {
   -webkit-animation-delay: 3s;
   -moz-animation-delay: 3s;
   -ms-animation-delay: 3s;
}

.presenter-title-b {
   -webkit-animation-delay: 4s;
   -moz-animation-delay: 4s;
   -ms-animation-delay: 4s;
}

.informative-p {
   -webkit-animation-delay: .3s;
   -moz-animation-delay: .3s;
   -ms-animation-delay: .3s;
}

.benefits-article.a {
   -webkit-animation-delay: .1s;
   -moz-animation-delay: .1s;
   -ms-animation-delay: .1s;
}


.benefits-article.b {
   -webkit-animation-delay: .5s;
   -moz-animation-delay: .5s;
   -ms-animation-delay: .5s;
}


.benefits-article.c {
   -webkit-animation-delay: .8s;
   -moz-animation-delay: .8s;
   -ms-animation-delay: .8s;
}

.benefits-article.d {
   -webkit-animation-delay: 1.2s;
   -moz-animation-delay: 1.2s;
   -ms-animation-delay: 1.2s;
}


.product-article.b {
   -webkit-animation-delay: .4s;
   -moz-animation-delay: .4s;
   -ms-animation-delay: .4s;
}

.product-article.c {
   -webkit-animation-delay: .8s;
   -moz-animation-delay: .8s;
   -ms-animation-delay: .8s;
}

.product-article.d {
   -webkit-animation-delay: 1.2s;
   -moz-animation-delay: 1.2s;
   -ms-animation-delay: 1.2s;
}

/*.allies-img {
   -ms-animation-duration: 10s;
   -moz-animation-duration: 10s;
   -webkit-animation-duration: 10s;
}*/



